<li class="chat-message message flexcol">
    <p><strong>{{ data.target.name }}</strong> {{ localize "FBL_AUTO_BATTLE.DESCRIPTION" }}</p>
    <div class="dice-buttons flex space-between">
        <button>{{localize "FBL_AUTO_BATTLE.DODGE" }}</button>
        <button>{{localize "FBL_AUTO_BATTLE.PARRY" }}</button>
    </div>
</li>